[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-dev.gauravverma.co.uk
Environment=CATALOGUE_HOST=catalogue-dev.gauravverma.co.uk
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
